.idea/
.onebox/

.vs/
/.vscode/
/.cache/
.vsconfig

Build/
Binaries/
Intermediate/
Saved/
DerivedDataCache/

Build/**/FileOpenOrder/*OpenOrder.log
Build/**/Symbols
Build/PS[45]/sce_module

Plugins/DigitalDeluxeDlc/Resources/Switch*/Override-AddOnContent.nmeta

*.sln
/*.xcworkspace
**/Build/Mac
.DS_Store
/compile_commands.json

/*.user

Content/StarterContent

enc_temp_folder/

gitutilsconf.json

Config/DefaultEditorPerProjectUserSettings.ini


!Platforms/PS5/Build/
Platforms/PS5/Build/FileOpenOrder/